body {
  background: #FCFADA;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background: #1DB4BF;
  color: #FCFADA;
  font-size: 100%;
}

header img {
  margin-left: -10%;
  width: 40%;
}

header p {
  margin: 0;
}

body section {
  margin-left: 5%;
  margin-right: 10%;
}

.btn-log-in-social {
  margin: 5%;
  display: block;
}

.spaces {
  margin-top: 15% !important;
}

.btn-initial {
  background: #1DB4BF !important;
}

.input-sign-up {
  margin-top: 0rem !important;
}

.selection-image {
  width: 40%;
}

#main-sign-up {
  margin-top: 10% !important;
}

#select-user{
  margin-top: 5% !important;
}
