body {
  background: #FCFADA;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background: #1DB4BF;
  color: #ffffff;
}

header p {
  margin: 0;
}

.spaces {
  margin-top: 80px !important;
}

.btn-initial {
  background: #1DB4BF !important;
}

.input-sign-up {
  margin-top: 0rem !important;
}

.selection-image {
  width: 40%;
}
